<div class="row">
  <% books.each do |book| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <%= link_to "#{book.title}", book_path(book) %>
        </div>
        <div class="card-body">
          著者：<%= book.author %><br>
          出版社：<%= book.publisher %>
        </div>
      </div>
    </div>
  <% end %>
</div
