<% if @book.reviews.any? %>
  <% @book.reviews.order(id: :desc).each do |review| %>
    <div class="card mt-3">
      <div class="card-header">
        <%= link_to "レビュータイトル：#{review.rev_title}", book_review_path(@book.id, review.id) %>
      </div>
      <div class="card-body">
        <p>ユーザーID：<%= review.user_id %></p>
        <% user = User.find(review.user_id) %>
        <p>ユーザー名：<%= user.name %></p>
        <%= review.content %>
      </div>
    </div>
  <% end %>
<% else %>
  <h4 class="mt-3">この本へは、まだ誰も書評を投稿していません。<br>
  最初の投稿をお願いします！！</h4>
<% end %>