<h3 class="bg-success rounded sm-3 col-md-4 h-100">　本の詳細　</h3>
<div class='row'>
  <%= render 'books/book_aside' %>
  <div class="col-sm-8"> 
    <% if not logged_in? %>
      <h3>ログインすると書評の投稿が可能です</h3>
    <% else%>
      <% if @user_review.nil? %>
        <!-- 投稿フォーム -->
        <%= render 'reviews/rev_form' %>
      <% else %>
        <div>  
          既に書評を投稿済みです。
          <%= link_to "#{@user.name}さんのレビュー", book_review_path(@book, @user_review) %>
        </div>
      <% end %>
    <% end %>
    <!-- この本に対する書評 -->
    <%= render 'books/review_for_this_book' %>
  </div>
</div>
