<div class="center jumbotron">
  <div class="text-center">
    <h1>本の広場へようこそ</h1>
    <p>本の要約を通じて読書家がつながるサイト</p>
  </div>
</div>
<div class="row">
  <aside class="col-sm-4" style="background-color: #f5f5f5;">
    <h3 class="py-3">本の広場とは</h3>
      <p>あなたの人生を変えた本・人にお勧めしたい本・学びが深まった本など、
        あなたがお気に入りの本の要約をぜひ投稿してください。</p>
      <p>他の人の投稿を読むことを通じて、本の理解がさらに深まったり、物事を理解する様々な視点を得ることができるかもしれません。</p>
      <p>自分用のまとめのため、アウトプットのため、他の人の感想を見るため等々お好きな用途でご利用ください。</p>
      <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary btn-block' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success btn-block' %>
  </aside>
  <div class="col-sm-8" style="background-color: #fff5f5;">
    <h3>最近の要約</h3>
      <ul>
        <li>ここに最近の要約が200字ぐらいで10件表示されるようにする。</li>
      </ul>
  </div>
</div>