<div class="center jumbotron">
  <div class="text-center">
    <h1>本の広場へようこそ</h1>
    <p>このサイトは本の要約を通じて読書家がつながるサイト</p>
  </div>
</div>
<div class="row">
  <aside class="col-sm-4" style="background-color: #f5f5f5;">
    <h3 class="py-3">本の広場とは</h3>
      <p>あなたの人生を変えた本・人にお勧めしたい本・学びが深まった本など、
        あなたがお気に入りの本の要約をぜひ投稿してください。</p>
      <p>他の人の投稿を読むことを通じて、本の理解がさらに深まったり、物事を理解する様々な視点を得ることができるかもしれません。</p>
      <p>自分用のまとめのため、読書経験のアウトプットのため、人との対話をするため等々お好きな用途でご利用ください。</p>
    <a href="#" class="btn btn-primary btn-lg mb-3 btn-block">会員登録はこちら</a>
    <a href="#" class="btn btn-success btn-lg mb-3 btn-block">ログインはこちら</a>
  </aside>
  <div class="col-sm-8" style="background-color: #fff5f5;">
    <h3>最近の要約</h3>
      <li>ここに最近の要約が200字ぐらいで10件表示されるようにする。</li>
  </div>
</div>